.App {
  text-align: center;
  margin: 20px;
}

form {
  display: inline-block;
  text-align: left;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input {
  margin-left: 10px;
}

button {
  margin-top: 20px;
}

table {
  border-collapse: collapse;
}

th,
td {
  padding: 8px 12px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

.highlight {
  background-color: yellow;
}
